.ion-text {
  font-size: 12px;
}

.iconupload {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.ion-button {
  margin: 0 10px;
}

.imagen {
  margin: 20px;
}

.title-imagen {
  display: flex;
  flex-wrap: wrap;
}

.title-text {
  margin: 20px auto;
  color: black;
}

.button-card {
  margin: 0 10px;
  padding: 4px !important;
  text-transform: none !important; 
}

.linea-card {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(206, 205, 205);
}

