.linea {
  border: 1px solid #e4e4e4;
}

h1 {
  margin: 10px;
}

h3 {
  margin: 10px 0;
}

.ion-text {
  font-size: 12px;
}

.iconupload {
  position: relative;
  left: 300px;
  margin-top: 30px;
}

.ion-button {
  margin: 0 10px;
}